h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.Board {
  background: #1a1a40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
}
.Todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  margin-top: 5px;
}
.Todo-btn:hover {
  box-shadow: 0 0 10px rgb(87, 80, 80);
  transition: 0.5s;
}
